@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  width: 400px;
  height: 42px;
}

.password-form{
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    width: 400px;
    height: 42px;
  }
}